@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

body {
    font-family: 'San Francisco';
    background-color: #3299ff;
}

.dashboard,
.dashboard_stocks {
    text-align: center;
    font-size: 25px;
    background-color: white;
    padding: 30px 0 60px 0;
    border-radius: 20px;
    width: 645px;
    height: 472px;
    margin: auto;
    margin-top: 50px;
}

.dashboard_stocks {
    height: 650px;
}

.content {
    width: auto;
    margin: auto;
}

#refresh {
    display: none;
    border: 0;
    background-color: lightblue;
    width: auto;
    height: auto;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

#stocks tr {
    height: 50px;
}

#stocks > tr > td {
    width: 120px;
    padding-left: 30px;
    text-align: left;
}

.failed {
    color: red;
}

#positive {
    color: green;
}

#negative {
    color: red;
}

#add_stock input[type=text] {
    height: 25px;
    width: 145px;
    font-size: 25px;
    font-family: "San Francisco";
    padding: 10px;
    text-transform: uppercase;
    float: left;
    margin-left: 30px;
    text-align: center;
}

#add_stock input[type=text]:focus {
    outline-color: #FFA500;
}

#add_stock input[type=submit] {
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-family: "San Francisco";
    font-size: 25px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
    background-color: #FFA500;
}

.error_msg {
    display: none;
    color: red;
}

#submit_form {
    display: inline-block;
    margin: auto;
    margin-right: 65px;
    margin-top: 10px;
}

#stocks {
    margin: auto;
}

.desc {
    position: relative;
    bottom: 13px;
    padding-left: 10px;
}

#weather_img > img {
    width: 150px;
    height: auto;
}